#greeting {
  display: flex;
  margin-bottom: 0;
}

#wave-emoji {
  animation: shake 1s;
  animation-iteration-count: 4; 
  margin-bottom: 0;
}

@keyframes shake {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  20% { transform: translate(0px, 0px) rotate(-20deg); }
  40% { transform: translate(0px, 0px) rotate(10deg); }
  80% { transform: translate(0px, 0px) rotate(-20deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}