.timeline {
  list-style: none;
  margin-left: -3%;
}

.header {
  margin-bottom: -20px;
}

.school-projects, .school-projects-description {
  list-style-type: none;
}

.projects-header {
  margin-top: -12px;
}