:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgb(158,71,132);
  background-color: linear-gradient(329deg, rgba(158,71,132,1) 0%, rgba(210,118,133,1) 100%); */
  height: 100vh;
  background: linear-gradient(329deg, rgba(158,71,132,1) 0%, rgba(210,118,133,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

svg {
  transition: all .2s;
}

svg:hover {
  fill: #D27685;
}

.nav-item > .nav-link.active {
  color: #D27685;
}

.nav-link:hover {
  color: #996e75;
}

body {
  margin: 0 auto;
  margin-top: 4%;
  place-items: center;
  width: 60%;
}

h1 {
  font-size: 1.9em;
  line-height: 1.1;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
